# Day 24 - Pandas Advanced

**Concepts covered:**

- groupby, merge, dropna, fillna
- data cleaning

---

## Examples

In [1]:
import pandas as pd
df = pd.DataFrame({"A":[1,2,None],"B":[4,None,6]})
print(df.dropna())
print(df.fillna(0))

     A    B
0  1.0  4.0
     A    B
0  1.0  4.0
1  2.0  0.0
2  0.0  6.0

## Exercises

**Exercise 1:** Clean a dataset by removing null values.

## Solutions (Example answers)

In [2]:
df = df.dropna()